#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.xss-textarea {
  border-radius: 10px;
  padding: 15px;
  font-size: 1.5em;
  height: 20vh;
  width: 30vw;
  resize: vertical;
}

.xss-btn {
  border: 1px solid gray;
  margin: 1vh 0 1vh 0;
  font-size: 1.2em;
}